node_red/flows/20240828_ETL_Avance_Pozo.flow.json
[
    {
        "id": "fee27221764bde5a",
        "type": "tab",
        "label": "ETls Avance de Pozo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4540ba9bfc4f6540",
        "type": "inject",
        "z": "fee27221764bde5a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "392021861ce57b94",
                "98b95468f0ca585f"
            ]
        ]
    },
    {
        "id": "25cb2498bec24338",
        "type": "http request",
        "z": "fee27221764bde5a",
        "name": "GetToken",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://data.welldata.net/api/v1/tokens/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "ApplicationID",
                "valueType": "other",
                "valueValue": "E4FC9AEB-0CF9-481C-99F6-A4FA8A5D11C9"
            }
        ],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "6e9793f0f579aec7",
                "2cf6798bd3350455"
            ]
        ]
    },
    {
        "id": "8ce4bd177bc0a5db",
        "type": "http request",
        "z": "fee27221764bde5a",
        "name": "PostInfo165",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 690,
        "y": 560,
        "wires": [
            [
                "5e3e437a437fa2de",
                "b38be5fd90afe7bd"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "6e9793f0f579aec7",
        "type": "function",
        "z": "fee27221764bde5a",
        "name": "saveToken",
        "func": "global.set(\"token\", msg.payload.token);\n//return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "35391ff7c28c5007",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "ETLS Avance de Pozo WELLDATA",
        "info": "# Alcances\n\n 1. Consulta Nivel de Trepano para cada perforador\n 2. Se almacena el nivel de trepano en la base de datos\n",
        "x": 180,
        "y": 20,
        "wires": []
    },
    {
        "id": "0a21afb6b0f7183b",
        "type": "function",
        "z": "fee27221764bde5a",
        "name": "parametros 165",
        "func": "let horaD = flow.get(\"etl_avance_pozo_horaDesde\");\nlet horaH = flow.get(\"etl_avance_pozo_horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"HoleDepth\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n        {\n            \"id\": \"BitPosition\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 1,\n    \"isDifferential\": true\n}\nlet job = global.get(\"etl_avance_pozo_165\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 560,
        "wires": [
            [
                "ed68050c9455e841"
            ]
        ]
    },
    {
        "id": "2b2a89a20250a119",
        "type": "function",
        "z": "fee27221764bde5a",
        "name": "horaDesde",
        "func": "flow.set(\"etl_avance_pozo_horaDesde\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "98b95468f0ca585f",
        "type": "delay",
        "z": "fee27221764bde5a",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "1f792879e5bcddfd"
            ]
        ]
    },
    {
        "id": "e9abc8b02a7f74f5",
        "type": "function",
        "z": "fee27221764bde5a",
        "name": "horaHasta",
        "func": "flow.set(\"etl_avance_pozo_horaHasta\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 380,
        "wires": [
            [
                "3c219d411361ee47"
            ]
        ]
    },
    {
        "id": "49f09db1e9d955b5",
        "type": "inject",
        "z": "fee27221764bde5a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "25cb2498bec24338"
            ]
        ]
    },
    {
        "id": "cc873ce8e61d59f1",
        "type": "http request",
        "z": "fee27221764bde5a",
        "name": "GetJobs",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://data.welldata.net/api/v1/jobs?jobStatus=ActiveJobs",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "4028585c527ba4cb",
                "bbaefdbc31f004f5"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "58b3e47837bdafa3",
        "type": "function",
        "z": "fee27221764bde5a",
        "name": "setup",
        "func": "msg.token = global.get(\"token\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 200,
        "wires": [
            [
                "cc873ce8e61d59f1"
            ]
        ]
    },
    {
        "id": "4028585c527ba4cb",
        "type": "split",
        "z": "fee27221764bde5a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "85a56e4ac335b3e1"
            ]
        ]
    },
    {
        "id": "85a56e4ac335b3e1",
        "type": "split",
        "z": "fee27221764bde5a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 770,
        "y": 200,
        "wires": [
            [
                "da4f0ce0771804ce"
            ]
        ]
    },
    {
        "id": "da4f0ce0771804ce",
        "type": "function",
        "z": "fee27221764bde5a",
        "name": "jobInfo",
        "func": "let id = msg.payload.id;\nlet name = msg.payload.name;\nlet rigNameAux = msg.payload.assetInfoList[0].name;\nlet rigName = rigNameAux.replace(' ', '');\nlet job = {\n   \"jobId\": id,\n   \"name\": name,\n   \"bitPosition\":0,\n};\nglobal.set('etl_avance_pozo_'+rigName,job)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ed68050c9455e841",
        "type": "change",
        "z": "fee27221764bde5a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 560,
        "wires": [
            [
                "8ce4bd177bc0a5db"
            ]
        ]
    },
    {
        "id": "5c7e451320b1b998",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "DLS-165",
        "info": "",
        "x": 140,
        "y": 520,
        "wires": []
    },
    {
        "id": "df4c419a36728bea",
        "type": "inject",
        "z": "fee27221764bde5a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "58b3e47837bdafa3"
            ]
        ]
    },
    {
        "id": "6be0ae34ef7a0713",
        "type": "function",
        "z": "fee27221764bde5a",
        "name": "actualizaEtlsLog",
        "func": "let perforador = global.get(\"etl_avance_pozo_165\");\n//let jobId=perforador.jobId;\n//let nombrePozo = perforador.name;\nlet pozoDesdeDB = flow.get(\"pozoDesdeDB\");\nlet nivelTrepano = perforador.bitPosition;\nmsg.payload = \"INSERT INTO [dbo].[avances_pozo] ([pozo_id],[nivel_trepano], [velocidad], [curva_de_avance]) VALUES (\" + pozoDesdeDB.id + \",\" + nivelTrepano + \",\" + 0 + \",\" + 0 + \")\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 560,
        "wires": [
            [
                "3945dac301336588",
                "ecf47be6524b63ef"
            ]
        ]
    },
    {
        "id": "2cf6798bd3350455",
        "type": "debug",
        "z": "fee27221764bde5a",
        "name": "debug 239",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "0f3e671fa615d029",
        "type": "http request",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "PostInfo156",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 690,
        "y": 820,
        "wires": [
            [
                "69e9d7a6e6b8fe78",
                "46a5ce5bb5a180ef"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "8362aa7e4a3a2412",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "parametros 156",
        "func": "let horaD = flow.get(\"etl_horaDesde\");\nlet horaH = flow.get(\"etl_horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"HoleDepth\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n        {\n            \"id\": \"BitPosition\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 1,\n    \"isDifferential\": true\n}\nlet job = global.get(\"etl_156\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 820,
        "wires": [
            [
                "d85728b81a7b1d08"
            ]
        ]
    },
    {
        "id": "d85728b81a7b1d08",
        "type": "change",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 820,
        "wires": [
            [
                "0f3e671fa615d029"
            ]
        ]
    },
    {
        "id": "4f7d536e3970f4ca",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "DLS-156",
        "info": "",
        "x": 140,
        "y": 760,
        "wires": []
    },
    {
        "id": "69e9d7a6e6b8fe78",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "SetDatosJobs",
        "func": "let jobOld = global.get(\"etl_156\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet holeDepth=0;\nlet bitPosition=0;\n\nlet actualiza=false;\n\ntry {\n    holeDepth = data[0][1].toFixed(1) * 1;\n}catch{}\ntry {\n    bitPosition = data[1][1].toFixed(1) * 1;\n} catch { }\n\n\nif (holeDepth != 0 || bitPosition != 0){\n    actualiza=true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"holeDepth\": holeDepth,\n        \"bitPosition\": bitPosition,\n    };\n    global.set(\"etl_156\", job);\n}\nmsg.payload=actualiza;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 820,
        "wires": [
            [
                "ab8bf36a826bc371"
            ]
        ]
    },
    {
        "id": "ab8bf36a826bc371",
        "type": "switch",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 820,
        "wires": [
            [
                "ae6961dbb7d1cbf1"
            ],
            [
                "2bd2d6b5af97debb"
            ]
        ]
    },
    {
        "id": "2bd2d6b5af97debb",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaEtlsLog",
        "func": "let perforador = global.get(\"etl_156\");\nlet jobId=perforador.jobId;\nlet nombrePozo = perforador.name;\nlet holeDepth = perforador.holeDepth;\nlet bitPosition = perforador.bitPosition;\nmsg.payload = \"INSERT INTO [dbo].[etls_log] ([perforador_nro],[job_id],[pozo],[hole_depth],[bit_position]) VALUES (\" + '156' + \",'\" + jobId + \"','\" + nombrePozo + \"','\" + holeDepth + \"','\" + bitPosition +\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 820,
        "wires": [
            [
                "43f7092b44a94b2b"
            ]
        ]
    },
    {
        "id": "5c23f25b55dba4b0",
        "type": "link in",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link in 193",
        "links": [
            "3c219d411361ee47"
        ],
        "x": 125,
        "y": 820,
        "wires": [
            [
                "8362aa7e4a3a2412"
            ]
        ]
    },
    {
        "id": "3c219d411361ee47",
        "type": "link out",
        "z": "fee27221764bde5a",
        "name": "link out Perforadores",
        "mode": "link",
        "links": [
            "5c23f25b55dba4b0",
            "778d107375174773",
            "42a1e2b31ed0bdf1",
            "7c585b4a27762896",
            "6654ec065aa1c41f",
            "eede0fd94c9aa7e6",
            "2ca024ea01684762",
            "23388ccbcf31ca00",
            "017d8f117a349f00",
            "d9a8be73ab6f40e6",
            "b9aed31a3daeade2",
            "66f30637453514a6",
            "676c3f4646f6465f",
            "2c7587c11fd09362",
            "869e66db1c56c7ec"
        ],
        "x": 925,
        "y": 380,
        "wires": []
    },
    {
        "id": "0df539d1a6cc0478",
        "type": "http request",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "PostInfo 173",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 690,
        "y": 1100,
        "wires": [
            [
                "efe960ce52299ea1",
                "415f381746db3177"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "299d22361c69ab78",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "parametros 173",
        "func": "let horaD = flow.get(\"etl_horaDesde\");\nlet horaH = flow.get(\"etl_horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"HoleDepth\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n        {\n            \"id\": \"BitPosition\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 1,\n    \"isDifferential\": true\n}\nlet job = global.get(\"etl_173\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1100,
        "wires": [
            [
                "3bc5ad4a2452e5ca"
            ]
        ]
    },
    {
        "id": "3bc5ad4a2452e5ca",
        "type": "change",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1100,
        "wires": [
            [
                "0df539d1a6cc0478"
            ]
        ]
    },
    {
        "id": "2334071ab5036858",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "DLS-173",
        "info": "",
        "x": 140,
        "y": 1040,
        "wires": []
    },
    {
        "id": "efe960ce52299ea1",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "SetDatosJobs",
        "func": "let jobOld = global.get(\"etl_173\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet holeDepth=0;\nlet bitPosition=0;\n\nlet actualiza=false;\n\ntry {\n    holeDepth = data[0][1].toFixed(1) * 1;\n}catch{}\ntry {\n    bitPosition = data[1][1].toFixed(1) * 1;\n} catch { }\n\n\nif (holeDepth != 0 || bitPosition != 0){\n    actualiza=true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"holeDepth\": holeDepth,\n        \"bitPosition\": bitPosition,\n    };\n    global.set(\"etl_173\", job);\n}\nmsg.payload=actualiza;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1100,
        "wires": [
            [
                "64df62dde6452dbe"
            ]
        ]
    },
    {
        "id": "64df62dde6452dbe",
        "type": "switch",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 1100,
        "wires": [
            [
                "acfa4fdb826f6456"
            ],
            [
                "99fd8f5b74e45f03"
            ]
        ]
    },
    {
        "id": "99fd8f5b74e45f03",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaEtlsLog",
        "func": "let perforador = global.get(\"etl_173\");\nlet jobId=perforador.jobId;\nlet nombrePozo = perforador.name;\nlet holeDepth = perforador.holeDepth;\nlet bitPosition = perforador.bitPosition;\nmsg.payload = \"INSERT INTO [dbo].[etls_log] ([perforador_nro],[job_id],[pozo],[hole_depth],[bit_position]) VALUES (\" + '173' + \",'\" + jobId + \"','\" + nombrePozo + \"','\" + holeDepth + \"','\" + bitPosition +\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 1100,
        "wires": [
            [
                "1bf5cd069cff1156"
            ]
        ]
    },
    {
        "id": "eede0fd94c9aa7e6",
        "type": "link in",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link in 194",
        "links": [
            "3c219d411361ee47"
        ],
        "x": 125,
        "y": 1100,
        "wires": [
            [
                "299d22361c69ab78"
            ]
        ]
    },
    {
        "id": "9802195617032a80",
        "type": "http request",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "PostInfo160",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 690,
        "y": 1380,
        "wires": [
            [
                "1f0cfd74b6d07ac5",
                "02efc62264bfc982"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "18a84ed2ccc7da0f",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "parametros 160",
        "func": "let horaD = flow.get(\"etl_horaDesde\");\nlet horaH = flow.get(\"etl_horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"HoleDepth\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n        {\n            \"id\": \"BitPosition\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 1,\n    \"isDifferential\": true\n}\nlet job = global.get(\"etl_160\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1380,
        "wires": [
            [
                "19d7955fd675e50c"
            ]
        ]
    },
    {
        "id": "19d7955fd675e50c",
        "type": "change",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1380,
        "wires": [
            [
                "9802195617032a80"
            ]
        ]
    },
    {
        "id": "2c462e637da54c17",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "DLS-160",
        "info": "",
        "x": 140,
        "y": 1320,
        "wires": []
    },
    {
        "id": "1f0cfd74b6d07ac5",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "SetDatosJobs 160",
        "func": "let jobOld = global.get(\"etl_160\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet holeDepth = 0;\nlet bitPosition = 0;\n\nlet actualiza = false;\n\ntry {\n    holeDepth = data[0][1].toFixed(1) * 1;\n} catch { }\ntry {\n    bitPosition = data[1][1].toFixed(1) * 1;\n} catch { }\n\n\nif (holeDepth != 0 || bitPosition != 0) {\n    actualiza = true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"holeDepth\": holeDepth,\n        \"bitPosition\": bitPosition,\n    };\n    global.set(\"etl_160\", job);\n}\nmsg.payload = actualiza;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1380,
        "wires": [
            [
                "2dc5daf6969eb140"
            ]
        ]
    },
    {
        "id": "2dc5daf6969eb140",
        "type": "switch",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 1380,
        "wires": [
            [
                "eff5d23e32957098"
            ],
            [
                "65c504b43059cf9f"
            ]
        ]
    },
    {
        "id": "65c504b43059cf9f",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaEtlsLog",
        "func": "let perforador = global.get(\"etl_160\");\nlet jobId=perforador.jobId;\nlet nombrePozo = perforador.name;\nlet holeDepth = perforador.holeDepth;\nlet bitPosition = perforador.bitPosition;\nmsg.payload = \"INSERT INTO [dbo].[etls_log] ([perforador_nro],[job_id],[pozo],[hole_depth],[bit_position]) VALUES (\" + '160' + \",'\" + jobId + \"','\" + nombrePozo + \"','\" + holeDepth + \"','\" + bitPosition +\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 1380,
        "wires": [
            [
                "44459ab363318902"
            ]
        ]
    },
    {
        "id": "2ca024ea01684762",
        "type": "link in",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link in 195",
        "links": [
            "3c219d411361ee47"
        ],
        "x": 125,
        "y": 1380,
        "wires": [
            [
                "18a84ed2ccc7da0f"
            ]
        ]
    },
    {
        "id": "656a97e740213d13",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "SetDatosJobs",
        "func": "let jobOld = global.get(\"etl_170\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet holeDepth=0;\nlet bitPosition=0;\n\nlet actualiza=false;\n\ntry {\n    holeDepth = data[0][1].toFixed(1) * 1;\n}catch{}\ntry {\n    bitPosition = data[1][1].toFixed(1) * 1;\n} catch { }\n\n\nif (holeDepth != 0 || bitPosition != 0){\n    actualiza=true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"holeDepth\": holeDepth,\n        \"bitPosition\": bitPosition,\n    };\n    global.set(\"etl_170\", job);\n}\nmsg.payload=actualiza;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1700,
        "wires": [
            [
                "ee11ad6b11dd2473"
            ]
        ]
    },
    {
        "id": "60c5a84040f31953",
        "type": "http request",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "PostInfo170",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 670,
        "y": 1700,
        "wires": [
            [
                "656a97e740213d13",
                "d29dd279b8ea15db"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "8644ab227f0cc763",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "parametros",
        "func": "let horaD = flow.get(\"etl_horaDesde\");\nlet horaH = flow.get(\"etl_horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"HoleDepth\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n        {\n            \"id\": \"BitPosition\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 1,\n    \"isDifferential\": true\n}\nlet job = global.get(\"etl_170\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1700,
        "wires": [
            [
                "c5722670d3ff5d5f"
            ]
        ]
    },
    {
        "id": "c5722670d3ff5d5f",
        "type": "change",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1700,
        "wires": [
            [
                "60c5a84040f31953"
            ]
        ]
    },
    {
        "id": "c85112d6a73e9961",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "DLS-170",
        "info": "",
        "x": 140,
        "y": 1640,
        "wires": []
    },
    {
        "id": "ee11ad6b11dd2473",
        "type": "switch",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 1700,
        "wires": [
            [
                "fc4ad54b21c42d55"
            ],
            [
                "ed64f69482060b8d"
            ]
        ]
    },
    {
        "id": "ed64f69482060b8d",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaEtlsLog",
        "func": "let perforador = global.get(\"etl_170\");\nlet jobId=perforador.jobId;\nlet nombrePozo = perforador.name;\nlet holeDepth = perforador.holeDepth;\nlet bitPosition = perforador.bitPosition;\nmsg.payload = \"INSERT INTO [dbo].[etls_log] ([perforador_nro],[job_id],[pozo],[hole_depth],[bit_position]) VALUES (\" + '170' + \",'\" + jobId + \"','\" + nombrePozo + \"','\" + holeDepth + \"','\" + bitPosition +\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1700,
        "wires": [
            [
                "d2cba1a075e2eadc"
            ]
        ]
    },
    {
        "id": "d9a8be73ab6f40e6",
        "type": "link in",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link in 196",
        "links": [
            "3c219d411361ee47"
        ],
        "x": 115,
        "y": 1700,
        "wires": [
            [
                "8644ab227f0cc763"
            ]
        ]
    },
    {
        "id": "2e0c7c9b729686e5",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "SetDatosJobs",
        "func": "let jobOld = global.get(\"etl_PAE001\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet holeDepth=0;\nlet bitPosition=0;\n\nlet actualiza=false;\n\ntry {\n    holeDepth = data[0][1].toFixed(1) * 1;\n}catch{}\ntry {\n    bitPosition = data[1][1].toFixed(1) * 1;\n} catch { }\n\n\nif (holeDepth != 0 || bitPosition != 0){\n    actualiza=true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"holeDepth\": holeDepth,\n        \"bitPosition\": bitPosition,\n    };\n    global.set(\"etl_PAE001\", job);\n}\nmsg.payload=actualiza;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1980,
        "wires": [
            [
                "e95c53bcf73bf3da"
            ]
        ]
    },
    {
        "id": "f564f9c92d18c6af",
        "type": "http request",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "PostInfo001",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 670,
        "y": 1980,
        "wires": [
            [
                "2e0c7c9b729686e5",
                "021fe63bce271705"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "1ce166c0f89f2dfc",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "parametros",
        "func": "let horaD = flow.get(\"etl_horaDesde\");\nlet horaH = flow.get(\"etl_horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"HoleDepth\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n        {\n            \"id\": \"BitPosition\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 1,\n    \"isDifferential\": true\n}\nlet job = global.get(\"etl_PAE001\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1980,
        "wires": [
            [
                "a2c4ae68dd50eb9a"
            ]
        ]
    },
    {
        "id": "a2c4ae68dd50eb9a",
        "type": "change",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1980,
        "wires": [
            [
                "f564f9c92d18c6af"
            ]
        ]
    },
    {
        "id": "2393525272745c8e",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "PAE-001",
        "info": "",
        "x": 140,
        "y": 1920,
        "wires": []
    },
    {
        "id": "e95c53bcf73bf3da",
        "type": "switch",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 1980,
        "wires": [
            [
                "824b0694d52a49bf"
            ],
            [
                "742fd7554003c45a"
            ]
        ]
    },
    {
        "id": "742fd7554003c45a",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaEtlsLog",
        "func": "let perforador = global.get(\"etl_PAE001\");\nlet jobId=perforador.jobId;\nlet nombrePozo = perforador.name;\nlet holeDepth = perforador.holeDepth;\nlet bitPosition = perforador.bitPosition;\nmsg.payload = \"INSERT INTO [dbo].[etls_log] ([perforador_nro],[job_id],[pozo],[hole_depth],[bit_position]) VALUES (\" + \"'PAE001'\" + \",'\" + jobId + \"','\" + nombrePozo + \"','\" + holeDepth + \"','\" + bitPosition +\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1980,
        "wires": [
            [
                "6fa413270db1cb13"
            ]
        ]
    },
    {
        "id": "42a1e2b31ed0bdf1",
        "type": "link in",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link in 197",
        "links": [
            "3c219d411361ee47"
        ],
        "x": 115,
        "y": 1980,
        "wires": [
            [
                "1ce166c0f89f2dfc"
            ]
        ]
    },
    {
        "id": "43f7092b44a94b2b",
        "type": "link out",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link out BDD",
        "mode": "link",
        "links": [
            "cb49714e43eb23cb",
            "e3017aa22d747c30"
        ],
        "x": 1575,
        "y": 900,
        "wires": []
    },
    {
        "id": "cb49714e43eb23cb",
        "type": "link in",
        "z": "fee27221764bde5a",
        "name": "link in BDD",
        "links": [
            "d2cba1a075e2eadc",
            "26607e71af9e2011",
            "b3a30ccd14a63916",
            "6117d328ae52cb3d",
            "6fa413270db1cb13",
            "44459ab363318902",
            "979bb99e8766ae52",
            "1bf5cd069cff1156",
            "61751a51c6bf6ca4",
            "43f7092b44a94b2b",
            "9143c5af0ebd88d5",
            "cea08c101e8830c8",
            "05163ee9588c3ec9"
        ],
        "x": 1825,
        "y": 720,
        "wires": [
            [
                "3945dac301336588"
            ]
        ]
    },
    {
        "id": "1bf5cd069cff1156",
        "type": "link out",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link out 23",
        "mode": "link",
        "links": [
            "cb49714e43eb23cb",
            "e3017aa22d747c30"
        ],
        "x": 1585,
        "y": 1180,
        "wires": []
    },
    {
        "id": "44459ab363318902",
        "type": "link out",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link out 24",
        "mode": "link",
        "links": [
            "cb49714e43eb23cb",
            "e3017aa22d747c30"
        ],
        "x": 1595,
        "y": 1460,
        "wires": []
    },
    {
        "id": "d2cba1a075e2eadc",
        "type": "link out",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link out 25",
        "mode": "link",
        "links": [
            "cb49714e43eb23cb",
            "e3017aa22d747c30"
        ],
        "x": 1615,
        "y": 1760,
        "wires": []
    },
    {
        "id": "6fa413270db1cb13",
        "type": "link out",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link out 26",
        "mode": "link",
        "links": [
            "cb49714e43eb23cb",
            "e3017aa22d747c30"
        ],
        "x": 1605,
        "y": 2020,
        "wires": []
    },
    {
        "id": "46a5ce5bb5a180ef",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 240",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 880,
        "wires": []
    },
    {
        "id": "5e3e437a437fa2de",
        "type": "debug",
        "z": "fee27221764bde5a",
        "name": "debug 241",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 620,
        "wires": []
    },
    {
        "id": "2c27569c42073251",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "SetDatosJobs",
        "func": "let jobOld = global.get(\"etl_168\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet holeDepth=0;\nlet bitPosition=0;\n\nlet actualiza=false;\n\ntry {\n    holeDepth = data[0][1].toFixed(1) * 1;\n}catch{}\ntry {\n    bitPosition = data[1][1].toFixed(1) * 1;\n} catch { }\n\n\nif (holeDepth != 0 || bitPosition != 0){\n    actualiza=true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"holeDepth\": holeDepth,\n        \"bitPosition\": bitPosition,\n    };\n    global.set(\"etl_168\", job);\n}\nmsg.payload=actualiza;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 2260,
        "wires": [
            [
                "2ac2f91580c55e34"
            ]
        ]
    },
    {
        "id": "a72c9a4e8fa31db8",
        "type": "http request",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "PostInfo168",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 690,
        "y": 2260,
        "wires": [
            [
                "2c27569c42073251",
                "9be00c49a334f168"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "c14f408472ddb88d",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "parametros 168",
        "func": "let horaD = flow.get(\"etl_horaDesde\");\nlet horaH = flow.get(\"etl_horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"HoleDepth\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n        {\n            \"id\": \"BitPosition\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 1,\n    \"isDifferential\": true\n}\nlet job = global.get(\"etl_168\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 2260,
        "wires": [
            [
                "3a4727025a8482e2"
            ]
        ]
    },
    {
        "id": "3a4727025a8482e2",
        "type": "change",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 2260,
        "wires": [
            [
                "a72c9a4e8fa31db8"
            ]
        ]
    },
    {
        "id": "0a4d13bf1c2a967f",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "PAE-168",
        "info": "",
        "x": 140,
        "y": 2220,
        "wires": []
    },
    {
        "id": "2ac2f91580c55e34",
        "type": "switch",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 2260,
        "wires": [
            [
                "005030860a7f0bae"
            ],
            [
                "1420fc29e0101f60"
            ]
        ]
    },
    {
        "id": "1420fc29e0101f60",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaEtlsLog",
        "func": "let perforador = global.get(\"etl_168\");\nlet jobId=perforador.jobId;\nlet nombrePozo = perforador.name;\nlet holeDepth = perforador.holeDepth;\nlet bitPosition = perforador.bitPosition;\nmsg.payload = \"INSERT INTO [dbo].[etls_log] ([perforador_nro],[job_id],[pozo],[hole_depth],[bit_position]) VALUES (\" + \"'168'\" + \",'\" + jobId + \"','\" + nombrePozo + \"','\" + holeDepth + \"','\" + bitPosition +\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 2260,
        "wires": [
            [
                "b3a30ccd14a63916"
            ]
        ]
    },
    {
        "id": "6654ec065aa1c41f",
        "type": "link in",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link in 198",
        "links": [
            "3c219d411361ee47"
        ],
        "x": 115,
        "y": 2260,
        "wires": [
            [
                "c14f408472ddb88d"
            ]
        ]
    },
    {
        "id": "b3a30ccd14a63916",
        "type": "link out",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link out 27",
        "mode": "link",
        "links": [
            "cb49714e43eb23cb",
            "e3017aa22d747c30"
        ],
        "x": 1625,
        "y": 2300,
        "wires": []
    },
    {
        "id": "c57a0a400a913d91",
        "type": "http request",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "PostInfo163",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 690,
        "y": 2520,
        "wires": [
            [
                "fd39e6e5420f24a5",
                "ef52fb0dd412a45f"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "85c041e1ee75c071",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "parametros",
        "func": "let horaD = flow.get(\"etl_horaDesde\");\nlet horaH = flow.get(\"etl_horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"HoleDepth\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n        {\n            \"id\": \"BitPosition\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 1,\n    \"isDifferential\": true\n}\nlet job = global.get(\"etl_163\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 2520,
        "wires": [
            [
                "8b292b5d63f457de"
            ]
        ]
    },
    {
        "id": "8b292b5d63f457de",
        "type": "change",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 2520,
        "wires": [
            [
                "c57a0a400a913d91"
            ]
        ]
    },
    {
        "id": "4db84d5e7775cfda",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "PAE-163",
        "info": "",
        "x": 140,
        "y": 2460,
        "wires": []
    },
    {
        "id": "e57f908206aed9cf",
        "type": "switch",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 2520,
        "wires": [
            [
                "fd17262af257ab16"
            ],
            [
                "97b6812d63e0369a"
            ]
        ]
    },
    {
        "id": "97b6812d63e0369a",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaEtlsLog",
        "func": "let perforador = global.get(\"etl_163\");\nlet jobId=perforador.jobId;\nlet nombrePozo = perforador.name;\nlet holeDepth = perforador.holeDepth;\nlet bitPosition = perforador.bitPosition;\nmsg.payload = \"INSERT INTO [dbo].[etls_log] ([perforador_nro],[job_id],[pozo],[hole_depth],[bit_position]) VALUES (\" + \"'163'\" + \",'\" + jobId + \"','\" + nombrePozo + \"','\" + holeDepth + \"','\" + bitPosition +\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 2520,
        "wires": [
            [
                "6117d328ae52cb3d"
            ]
        ]
    },
    {
        "id": "676c3f4646f6465f",
        "type": "link in",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link in 199",
        "links": [
            "3c219d411361ee47"
        ],
        "x": 115,
        "y": 2520,
        "wires": [
            [
                "85c041e1ee75c071"
            ]
        ]
    },
    {
        "id": "6117d328ae52cb3d",
        "type": "link out",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link out 28",
        "mode": "link",
        "links": [
            "cb49714e43eb23cb",
            "e3017aa22d747c30"
        ],
        "x": 1625,
        "y": 2560,
        "wires": []
    },
    {
        "id": "90caac0f8ecbb405",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "SetDatosJobs",
        "func": "let jobOld = global.get(\"etl_166\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet holeDepth=0;\nlet bitPosition=0;\n\nlet actualiza=false;\n\ntry {\n    holeDepth = data[0][1].toFixed(1) * 1;\n}catch{}\ntry {\n    bitPosition = data[1][1].toFixed(1) * 1;\n} catch { }\n\n\nif (holeDepth != 0 || bitPosition != 0){\n    actualiza=true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"holeDepth\": holeDepth,\n        \"bitPosition\": bitPosition,\n    };\n    global.set(\"etl_166\", job);\n}\nmsg.payload=actualiza;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 2780,
        "wires": [
            [
                "d56bd922d28e8362"
            ]
        ]
    },
    {
        "id": "5da53add43c3684f",
        "type": "http request",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "PostInfo166",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 690,
        "y": 2780,
        "wires": [
            [
                "90caac0f8ecbb405",
                "e9901f8107a07943"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "01491949a17b145e",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "parametros 166",
        "func": "let horaD = flow.get(\"etl_horaDesde\");\nlet horaH = flow.get(\"etl_horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"HoleDepth\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n        {\n            \"id\": \"BitPosition\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 1,\n    \"isDifferential\": true\n}\nlet job = global.get(\"etl_166\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 2780,
        "wires": [
            [
                "b851c66d278b742d"
            ]
        ]
    },
    {
        "id": "b851c66d278b742d",
        "type": "change",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 2780,
        "wires": [
            [
                "5da53add43c3684f"
            ]
        ]
    },
    {
        "id": "e7de3dad67bfab1b",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "PAE-166",
        "info": "",
        "x": 140,
        "y": 2720,
        "wires": []
    },
    {
        "id": "d56bd922d28e8362",
        "type": "switch",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 2780,
        "wires": [
            [
                "764d613ca451cf97"
            ],
            [
                "896f49ae781af233"
            ]
        ]
    },
    {
        "id": "896f49ae781af233",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaEtlsLog",
        "func": "let perforador = global.get(\"etl_166\");\nlet jobId=perforador.jobId;\nlet nombrePozo = perforador.name;\nlet holeDepth = perforador.holeDepth;\nlet bitPosition = perforador.bitPosition;\nmsg.payload = \"INSERT INTO [dbo].[etls_log] ([perforador_nro],[job_id],[pozo],[hole_depth],[bit_position]) VALUES (\" + \"'166'\" + \",'\" + jobId + \"','\" + nombrePozo + \"','\" + holeDepth + \"','\" + bitPosition +\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 2780,
        "wires": [
            [
                "26607e71af9e2011"
            ]
        ]
    },
    {
        "id": "7c585b4a27762896",
        "type": "link in",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link in 200",
        "links": [
            "3c219d411361ee47"
        ],
        "x": 115,
        "y": 2780,
        "wires": [
            [
                "01491949a17b145e"
            ]
        ]
    },
    {
        "id": "26607e71af9e2011",
        "type": "link out",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link out 29",
        "mode": "link",
        "links": [
            "cb49714e43eb23cb",
            "e3017aa22d747c30"
        ],
        "x": 1625,
        "y": 2820,
        "wires": []
    },
    {
        "id": "d29dd279b8ea15db",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 242",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1780,
        "wires": []
    },
    {
        "id": "8294879cdf3f7b09",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "SetDatosJobs",
        "func": "let jobOld = global.get(\"etl_167\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet holeDepth=0;\nlet bitPosition=0;\n\nlet actualiza=false;\n\ntry {\n    holeDepth = data[0][1].toFixed(1) * 1;\n}catch{}\ntry {\n    bitPosition = data[1][1].toFixed(1) * 1;\n} catch { }\n\n\nif (holeDepth != 0 || bitPosition != 0){\n    actualiza=true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"holeDepth\": holeDepth,\n        \"bitPosition\": bitPosition,\n    };\n    global.set(\"etl_167\", job);\n}\nmsg.payload=actualiza;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 3040,
        "wires": [
            [
                "2dfde2a90e0f3857"
            ]
        ]
    },
    {
        "id": "98f92837bd9f64d9",
        "type": "http request",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "PostInfo167",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 710,
        "y": 3040,
        "wires": [
            [
                "8294879cdf3f7b09",
                "d46d02fbda68f26f"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "2a3b298d12724c0c",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "parametros 167",
        "func": "let horaD = flow.get(\"etl_horaDesde\");\nlet horaH = flow.get(\"etl_horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"HoleDepth\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n        {\n            \"id\": \"BitPosition\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 1,\n    \"isDifferential\": true\n}\nlet job = global.get(\"etl_167\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 3040,
        "wires": [
            [
                "884aae247b3dee4d"
            ]
        ]
    },
    {
        "id": "884aae247b3dee4d",
        "type": "change",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 3040,
        "wires": [
            [
                "98f92837bd9f64d9"
            ]
        ]
    },
    {
        "id": "825ccc9620d7f433",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "PAE-167",
        "info": "",
        "x": 140,
        "y": 2980,
        "wires": []
    },
    {
        "id": "2dfde2a90e0f3857",
        "type": "switch",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 3040,
        "wires": [
            [
                "26b519c4c5097866"
            ],
            [
                "dba72a85ee3619fd"
            ]
        ]
    },
    {
        "id": "dba72a85ee3619fd",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaEtlsLog",
        "func": "let perforador = global.get(\"etl_167\");\nlet jobId=perforador.jobId;\nlet nombrePozo = perforador.name;\nlet holeDepth = perforador.holeDepth;\nlet bitPosition = perforador.bitPosition;\nmsg.payload = \"INSERT INTO [dbo].[etls_log] ([perforador_nro],[job_id],[pozo],[hole_depth],[bit_position]) VALUES (\" + \"'167'\" + \",'\" + jobId + \"','\" + nombrePozo + \"','\" + holeDepth + \"','\" + bitPosition +\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 3040,
        "wires": [
            [
                "61751a51c6bf6ca4"
            ]
        ]
    },
    {
        "id": "b9aed31a3daeade2",
        "type": "link in",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link in 201",
        "links": [
            "3c219d411361ee47"
        ],
        "x": 115,
        "y": 3040,
        "wires": [
            [
                "2a3b298d12724c0c"
            ]
        ]
    },
    {
        "id": "61751a51c6bf6ca4",
        "type": "link out",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link out 30",
        "mode": "link",
        "links": [
            "cb49714e43eb23cb",
            "e3017aa22d747c30"
        ],
        "x": 1645,
        "y": 3080,
        "wires": []
    },
    {
        "id": "5dfa9d32eeffe861",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "SetDatosJobs",
        "func": "let jobOld = global.get(\"etl_169\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet holeDepth=0;\nlet bitPosition=0;\n\nlet actualiza=false;\n\ntry {\n    holeDepth = data[0][1].toFixed(1) * 1;\n}catch{}\ntry {\n    bitPosition = data[1][1].toFixed(1) * 1;\n} catch { }\n\n\nif (holeDepth != 0 || bitPosition != 0){\n    actualiza=true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"holeDepth\": holeDepth,\n        \"bitPosition\": bitPosition,\n    };\n    global.set(\"etl_169\", job);\n}\nmsg.payload=actualiza;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 3280,
        "wires": [
            [
                "91663c12f61a9195"
            ]
        ]
    },
    {
        "id": "8e554f7a5b8649d4",
        "type": "http request",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "PostInfo169",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 690,
        "y": 3280,
        "wires": [
            [
                "5dfa9d32eeffe861",
                "1d722b21caacf893"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "25a5469306bca720",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "parametros",
        "func": "let horaD = flow.get(\"etl_horaDesde\");\nlet horaH = flow.get(\"etl_horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"HoleDepth\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n        {\n            \"id\": \"BitPosition\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 1,\n    \"isDifferential\": true\n}\nlet job = global.get(\"etl_169\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 3280,
        "wires": [
            [
                "ddf00933e141e088"
            ]
        ]
    },
    {
        "id": "ddf00933e141e088",
        "type": "change",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 3280,
        "wires": [
            [
                "8e554f7a5b8649d4"
            ]
        ]
    },
    {
        "id": "7fc9388ab2734735",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "PAE-169",
        "info": "",
        "x": 140,
        "y": 3220,
        "wires": []
    },
    {
        "id": "91663c12f61a9195",
        "type": "switch",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 3280,
        "wires": [
            [
                "f1ae6963e046194c"
            ],
            [
                "ed01dddf842cc89e"
            ]
        ]
    },
    {
        "id": "ed01dddf842cc89e",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaEtlsLog",
        "func": "let perforador = global.get(\"etl_169\");\nlet jobId=perforador.jobId;\nlet nombrePozo = perforador.name;\nlet holeDepth = perforador.holeDepth;\nlet bitPosition = perforador.bitPosition;\nmsg.payload = \"INSERT INTO [dbo].[etls_log] ([perforador_nro],[job_id],[pozo],[hole_depth],[bit_position]) VALUES (\" + \"'169'\" + \",'\" + jobId + \"','\" + nombrePozo + \"','\" + holeDepth + \"','\" + bitPosition +\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 3280,
        "wires": [
            [
                "9143c5af0ebd88d5"
            ]
        ]
    },
    {
        "id": "23388ccbcf31ca00",
        "type": "link in",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link in 202",
        "links": [
            "3c219d411361ee47"
        ],
        "x": 115,
        "y": 3280,
        "wires": [
            [
                "25a5469306bca720"
            ]
        ]
    },
    {
        "id": "9143c5af0ebd88d5",
        "type": "link out",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link out 31",
        "mode": "link",
        "links": [
            "cb49714e43eb23cb",
            "e3017aa22d747c30"
        ],
        "x": 1625,
        "y": 3320,
        "wires": []
    },
    {
        "id": "e9901f8107a07943",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 243",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 2900,
        "wires": []
    },
    {
        "id": "d46d02fbda68f26f",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 244",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 3120,
        "wires": []
    },
    {
        "id": "1d722b21caacf893",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 245",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 3360,
        "wires": []
    },
    {
        "id": "415f381746db3177",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 246",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1160,
        "wires": []
    },
    {
        "id": "02efc62264bfc982",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 247",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1480,
        "wires": []
    },
    {
        "id": "021fe63bce271705",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 248",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 2040,
        "wires": []
    },
    {
        "id": "9be00c49a334f168",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 249",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 2340,
        "wires": []
    },
    {
        "id": "4b70479142f29c9a",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "SetDatosJobs",
        "func": "let jobOld = global.get(\"161\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet hs1=0;\nlet hs2=0;\nlet hs3=0;\nlet lts=0;\nlet on1=0;\nlet on2=0;\nlet on3=0;\nlet actualiza=false;\nlet hs1Aux=0;\nlet hs2Aux = 0;\nlet hs3Aux = 0;\n\ntry {\n    hs1Aux = (data[0][1].toFixed(1) * 1) / 3600;\n    // @ts-ignore\n    hs1 = hs1Aux.toFixed(1) * 1;\n}catch{}\ntry {\n    hs2Aux = (data[1][1].toFixed(1) * 1) / 3600;\n    // @ts-ignore\n    hs2 = hs2Aux.toFixed(1) * 1;\n} catch { }\ntry {\n    hs3Aux = (data[2][1].toFixed(1) * 1) / 3600;\n    // @ts-ignore\n    hs3 = hs3Aux.toFixed(1) * 1;\n} catch { }\ntry {\n    on1 = data[3][1].toFixed(0) * 1;\n} catch { }\ntry {\n    on2 = data[4][1].toFixed(0) * 1;\n} catch { }\ntry {\n    on3 = data[5][1].toFixed(0) * 1;\n} catch { }\ntry {\n    lts = data[6][1].toFixed(3) * 159;\n    lts=lts.toFixed(0);\n} catch { }\nif ( hs1 != 0 || hs2 != 0 || hs3 != 0 || lts != 0){\n    actualiza=true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"hsBomba1\": hs1,\n        \"hsBomba2\": hs2,\n        \"hsBomba3\": hs3,\n        \"ltsTanque\": lts,\n        \"factu\": fecAct,\n        \"on1\": on1,\n        \"on2\": on2,\n        \"on3\": on3\n    };\n    global.set(\"161\", job);\n}\nmsg.payload=actualiza;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 3820,
        "wires": [
            [
                "d0a3eec0073dd9cc"
            ]
        ]
    },
    {
        "id": "6db0718808339862",
        "type": "http request",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "PostInfo161",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 690,
        "y": 3820,
        "wires": [
            [
                "4b70479142f29c9a",
                "bcb4f2f36352c07b"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "a847c6a3743ebe80",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "parametros 161",
        "func": "let horaD = global.get(\"horaDesde\");\nlet horaH = global.get(\"horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"RS-1342177412\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Time.Second.0\"\n        },\n        {\n            \"id\": \"RS-1342177413\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Time.Second.0\"\n        },\n        {\n            \"id\": \"RS-1342177414\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Time.Second.0\"\n        },\n        {\n            \"id\": \"PumpSpm\",\n            \"mode\": \"Last\",\n            \"unitId\": \"CountRate.Strokes per minute.1\"\n        },\n        {\n            \"id\": \"PumpSpm2\",\n            \"mode\": \"Last\",\n            \"unitId\": \"CountRate.Strokes per minute.1\"\n        },\n        {\n            \"id\": \"PumpSpm3\",\n            \"mode\": \"Last\",\n            \"unitId\": \"CountRate.Strokes per minute.1\"\n        },\n        {\n            \"id\": \"Spare79\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Volume.Barrel.4\"\n        }\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 120,\n    \"isDifferential\": true\n}\nlet job = global.get(\"161\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 3820,
        "wires": [
            [
                "a3c57027d56dc9dd"
            ]
        ]
    },
    {
        "id": "a3c57027d56dc9dd",
        "type": "change",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 3820,
        "wires": [
            [
                "6db0718808339862"
            ]
        ]
    },
    {
        "id": "36d29cba57200910",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "PAE-161 (No viene ya como perforador activo)",
        "info": "",
        "x": 250,
        "y": 3780,
        "wires": []
    },
    {
        "id": "d0a3eec0073dd9cc",
        "type": "switch",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 3800,
        "wires": [
            [],
            [
                "31435aa9e96416ef",
                "03f976d30be4ca7a"
            ]
        ]
    },
    {
        "id": "31435aa9e96416ef",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaHsPiezas",
        "func": "let perforador = global.get(\"161\");\nlet hsBomba1 = perforador.hsBomba1;\nlet hsBomba2 = perforador.hsBomba2;\nlet hsBomba3 = perforador.hsBomba3;\nmsg.payload = \"BEGIN update [perforador].[dbo].[perforadorPieza] set hs=hs+(\" + hsBomba1 + \"-hsInst),hsInst=\" + hsBomba1 + \" where baja=0 and enUso=1 and bomba=1 and perforador='161' and \" + hsBomba1 + \">hsInst; update [perforador].[dbo].[perforadorPieza] set hs=hs+(\" + hsBomba2 + \"-hsInst),hsInst=\" + hsBomba2 + \" where baja=0 and enUso=1 and bomba=2 and perforador='161' and \" + hsBomba2 + \">hsInst; update [perforador].[dbo].[perforadorPieza] set hs=hs+(\" + hsBomba3 + \"-hsInst),hsInst=\" + hsBomba3 + \" where baja=0 and enUso=1 and bomba=3 and perforador='161' and \" + hsBomba3 + \">hsInst;update [perforador].[dbo].[perforadorPieza] set hs= \" + hsBomba1 + \"+hs, hsInst=\" + hsBomba1 + \"where baja=0 and enUso=1 and bomba=1 and perforador='161' and  FLOOR(\" + hsBomba1 + \")< FLOOR(hsInst) AND \" + hsBomba1 + \">0 ; update [perforador].[dbo].[perforadorPieza] set hs= \" + hsBomba2 + \"+hs, hsInst=\" + hsBomba2 + \"where baja=0 and enUso=1 and bomba=2 and perforador='161' and  FLOOR(\" + hsBomba2 + \")< FLOOR(hsInst) AND \" + hsBomba2 + \">0; update [perforador].[dbo].[perforadorPieza] set hs= \" + hsBomba3 + \"+hs, hsInst=\" + hsBomba3 + \"where baja=0 and enUso=1 and bomba=3 and perforador='161' and  FLOOR(\" + hsBomba3 + \")< FLOOR(hsInst) AND \" + hsBomba3 +\">0; END\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 3800,
        "wires": [
            [
                "979bb99e8766ae52"
            ]
        ]
    },
    {
        "id": "f688f14c40387d2e",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaLogWellData",
        "func": "let perforador = global.get(\"161\");\nlet jobId=perforador.jobId;\nlet hsBomba1 = perforador.hsBomba1;\nlet hsBomba2 = perforador.hsBomba2;\nlet hsBomba3 = perforador.hsBomba3;\nlet on1 = perforador.on1;\nlet on2 = perforador.on2;\nlet on3 = perforador.on3;\nlet lts=perforador.ltsTanque;\nmsg.payload = \"INSERT INTO [dbo].[wellData] ([hsBomba1],[hsBomba2],[hsBomba3],[lts],perforador,jobId,[perforadorStr], [onBomba1], [onBomba2], [onBomba3]) VALUES (\" + hsBomba1 + \",\" + hsBomba2 + \",\" + hsBomba3 + \",\" + lts + \",161,'\" + jobId + \"','161',\" + on1 + \",\" + on2 + \",\" + on3+\")\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 3880,
        "wires": [
            [
                "979bb99e8766ae52"
            ]
        ]
    },
    {
        "id": "03f976d30be4ca7a",
        "type": "delay",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1140,
        "y": 3880,
        "wires": [
            [
                "f688f14c40387d2e",
                "2f46692aa358d7e8"
            ]
        ]
    },
    {
        "id": "da0b29c92596dab1",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaLogHsPiezas",
        "func": "let perforador = global.get(\"161\");\nmsg.payload = \"INSERT INTO [dbo].[logPieza] ([idPerforadorPieza],[hs],[hsInst]) select idPerforadorPieza,hs,hsInst from  [dbo].[perforadorPieza] where enUso=1 and baja=0 and perforador='161'\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 3960,
        "wires": [
            [
                "979bb99e8766ae52"
            ]
        ]
    },
    {
        "id": "2f46692aa358d7e8",
        "type": "delay",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1120,
        "y": 3960,
        "wires": [
            [
                "da0b29c92596dab1"
            ]
        ]
    },
    {
        "id": "979bb99e8766ae52",
        "type": "link out",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link out 32",
        "mode": "link",
        "links": [
            "cb49714e43eb23cb",
            "e3017aa22d747c30"
        ],
        "x": 1625,
        "y": 3860,
        "wires": []
    },
    {
        "id": "bcb4f2f36352c07b",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 250",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 3900,
        "wires": []
    },
    {
        "id": "e4f6b03954b88902",
        "type": "http request",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "PostInfo174",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": true,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "token",
                "valueType": "msg",
                "valueValue": "token"
            }
        ],
        "x": 690,
        "y": 3540,
        "wires": [
            [
                "0bba7a06023ff19e",
                "1ed2ba5a0d0ec926"
            ]
        ],
        "info": "{\r\n  \"attributes\": [\r\n    {\r\n      \"id\": \"Spare39\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Volume.Cubic meter.0\"\r\n    },\r\n\t{\r\n      \"id\": \"Spare59\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177397\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    },\r\n\t{\r\n      \"id\": \"RS-1342177398\",\r\n      \"mode\": \"Last\",\r\n      \"unitId\": \"Time.Hour.2\"\r\n    }\r\n  ],\r\n  \"fromTime\": \"2023-01-05T19:58:35.336Z\",\r\n  \"toTime\": \"2023-01-05T19:58:36.336Z\",\r\n  \"interval\": 1,\r\n  \"isDifferential\": true\r\n}"
    },
    {
        "id": "09b433ba87863d2f",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "parametros 174",
        "func": "let horaD = flow.get(\"etl_horaDesde\");\nlet horaH = flow.get(\"etl_horaHasta\");\nmsg.token = global.get(\"token\");\nmsg.payload = {\n    \"attributes\": [\n        {\n            \"id\": \"HoleDepth\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n        {\n            \"id\": \"BitPosition\",\n            \"mode\": \"Last\",\n            \"unitId\": \"Depth.Meter.0\"\n        },\n    ],\n    \"fromTime\": horaD,\n    \"toTime\": horaH,\n    \"interval\": 1,\n    \"isDifferential\": true\n}\nlet job = global.get(\"etl_174\");\nmsg.urlWellData = \"https://data.welldata.net/api/v1/jobs/\"+job.jobId+\"/data/time\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 3540,
        "wires": [
            [
                "f7fd13abb95f922a"
            ]
        ]
    },
    {
        "id": "f7fd13abb95f922a",
        "type": "change",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "urlWellData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 3540,
        "wires": [
            [
                "e4f6b03954b88902"
            ]
        ]
    },
    {
        "id": "d7421f7367900271",
        "type": "comment",
        "z": "fee27221764bde5a",
        "name": "PAE-174",
        "info": "",
        "x": 140,
        "y": 3480,
        "wires": []
    },
    {
        "id": "017d8f117a349f00",
        "type": "link in",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link in 203",
        "links": [
            "3c219d411361ee47"
        ],
        "x": 115,
        "y": 3540,
        "wires": [
            [
                "09b433ba87863d2f"
            ]
        ]
    },
    {
        "id": "0bba7a06023ff19e",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 251",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 3620,
        "wires": []
    },
    {
        "id": "1ed2ba5a0d0ec926",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "SetDatosJobs",
        "func": "let jobOld = global.get(\"etl_174\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet holeDepth=0;\nlet bitPosition=0;\n\nlet actualiza=false;\n\ntry {\n    holeDepth = data[0][1].toFixed(1) * 1;\n}catch{}\ntry {\n    bitPosition = data[1][1].toFixed(1) * 1;\n} catch { }\n\n\nif (holeDepth != 0 || bitPosition != 0){\n    actualiza=true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"holeDepth\": holeDepth,\n        \"bitPosition\": bitPosition,\n    };\n    global.set(\"etl_174\", job);\n}\nmsg.payload=actualiza;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 3540,
        "wires": [
            [
                "99acbb26380fffb5",
                "0bba7a06023ff19e"
            ]
        ]
    },
    {
        "id": "99acbb26380fffb5",
        "type": "switch",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 3540,
        "wires": [
            [
                "b81be92d50b9e7fe"
            ],
            [
                "b7218c319420c1e2"
            ]
        ]
    },
    {
        "id": "b7218c319420c1e2",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "actualizaEtlsLog",
        "func": "let perforador = global.get(\"etl_174\");\nlet jobId=perforador.jobId;\nlet nombrePozo = perforador.name;\nlet holeDepth = perforador.holeDepth;\nlet bitPosition = perforador.bitPosition;\nmsg.payload = \"INSERT INTO [dbo].[etls_log] ([perforador_nro],[job_id],[pozo],[hole_depth],[bit_position]) VALUES (\" + \"'174'\" + \",'\" + jobId + \"','\" + nombrePozo + \"','\" + holeDepth + \"','\" + bitPosition +\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 3540,
        "wires": [
            [
                "cea08c101e8830c8"
            ]
        ]
    },
    {
        "id": "fd39e6e5420f24a5",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 252",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 2600,
        "wires": []
    },
    {
        "id": "b38be5fd90afe7bd",
        "type": "function",
        "z": "fee27221764bde5a",
        "name": "SetDatosJobs",
        "func": "let jobOld = global.get(\"etl_avance_pozo_165\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet holeDepth=0;\nlet bitPosition=0;\n\nlet actualiza=false;\n\ntry {\n    holeDepth = data[0][1].toFixed(1) * 1;\n}catch{}\ntry {\n    bitPosition = data[1][1].toFixed(1) * 1;\n} catch { }\n\n\nif (holeDepth != 0 || bitPosition != 0){\n    actualiza=true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"bitPosition\": bitPosition,\n    };\n    global.set(\"etl_avance_pozo_165\", job);\n}\nmsg.payload=actualiza;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 560,
        "wires": [
            [
                "2f357694be59455c"
            ]
        ]
    },
    {
        "id": "ef52fb0dd412a45f",
        "type": "function",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "SetDatosJobs",
        "func": "let jobOld = global.get(\"etl_163\");\nlet fecAct = msg.payload.timeRecords[0].timestamp;\nlet data = msg.payload.timeRecords[0].values;\nlet holeDepth=0;\nlet bitPosition=0;\n\nlet actualiza=false;\n\ntry {\n    holeDepth = data[0][1].toFixed(1) * 1;\n}catch{}\ntry {\n    bitPosition = data[1][1].toFixed(1) * 1;\n} catch { }\n\n\nif (holeDepth != 0 || bitPosition != 0){\n    actualiza=true;\n    let job = {\n        \"jobId\": jobOld.jobId,\n        \"name\": jobOld.name,\n        \"holeDepth\": holeDepth,\n        \"bitPosition\": bitPosition,\n    };\n    global.set(\"etl_163\", job);\n}\nmsg.payload=actualiza;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 2520,
        "wires": [
            [
                "e57f908206aed9cf"
            ]
        ]
    },
    {
        "id": "778d107375174773",
        "type": "link in",
        "z": "fee27221764bde5a",
        "name": "link in 204",
        "links": [
            "3c219d411361ee47"
        ],
        "x": 125,
        "y": 560,
        "wires": [
            [
                "0a21afb6b0f7183b"
            ]
        ]
    },
    {
        "id": "cea08c101e8830c8",
        "type": "link out",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "link out 33",
        "mode": "link",
        "links": [
            "cb49714e43eb23cb",
            "e3017aa22d747c30"
        ],
        "x": 1615,
        "y": 3600,
        "wires": []
    },
    {
        "id": "3945dac301336588",
        "type": "MSSQL",
        "z": "fee27221764bde5a",
        "mssqlCN": "8c922d743060092b",
        "name": "",
        "query": "",
        "outField": "payload",
        "x": 2060,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "392021861ce57b94",
        "type": "moment",
        "z": "fee27221764bde5a",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/UTC",
        "adjAmount": "4",
        "adjType": "minutes",
        "adjDir": "subtract",
        "format": "",
        "locale": "es-ES",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Etc/GMT",
        "x": 380,
        "y": 300,
        "wires": [
            [
                "2b2a89a20250a119"
            ]
        ]
    },
    {
        "id": "1f792879e5bcddfd",
        "type": "moment",
        "z": "fee27221764bde5a",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "ETC/UTC",
        "adjAmount": "4",
        "adjType": "minutes",
        "adjDir": "subtract",
        "format": "",
        "locale": "es-ES",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Etc/GMT",
        "x": 580,
        "y": 380,
        "wires": [
            [
                "e9abc8b02a7f74f5"
            ]
        ]
    },
    {
        "id": "ae6961dbb7d1cbf1",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 253",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 760,
        "wires": []
    },
    {
        "id": "9e92429cbfc3fba0",
        "type": "switch",
        "z": "fee27221764bde5a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1670,
        "y": 560,
        "wires": [
            [
                "3a3014cc62099e45"
            ],
            [
                "6be0ae34ef7a0713"
            ]
        ]
    },
    {
        "id": "3a3014cc62099e45",
        "type": "debug",
        "z": "fee27221764bde5a",
        "name": "debug 254",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 480,
        "wires": []
    },
    {
        "id": "acfa4fdb826f6456",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 255",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 1040,
        "wires": []
    },
    {
        "id": "eff5d23e32957098",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 256",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 1320,
        "wires": []
    },
    {
        "id": "fc4ad54b21c42d55",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 257",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 1640,
        "wires": []
    },
    {
        "id": "824b0694d52a49bf",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 258",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 1920,
        "wires": []
    },
    {
        "id": "005030860a7f0bae",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 259",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 2200,
        "wires": []
    },
    {
        "id": "fd17262af257ab16",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 260",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 2460,
        "wires": []
    },
    {
        "id": "764d613ca451cf97",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 261",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 2720,
        "wires": []
    },
    {
        "id": "26b519c4c5097866",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 262",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 2980,
        "wires": []
    },
    {
        "id": "f1ae6963e046194c",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 263",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 3220,
        "wires": []
    },
    {
        "id": "b81be92d50b9e7fe",
        "type": "debug",
        "z": "fee27221764bde5a",
        "d": true,
        "name": "debug 264",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 3480,
        "wires": []
    },
    {
        "id": "93924ea23b4f6025",
        "type": "function",
        "z": "fee27221764bde5a",
        "name": "consultaIdPozo",
        "func": "let perforador = global.get(\"etl_avance_pozo_165\");\nlet jobId=perforador.jobId;\nlet nombrePozo = perforador.name;\n//let nivelTrepano = perforador.bitPosition;\nmsg.payload = \"SELECT * FROM [dbo].[pozos] WHERE nombre_clave = '\" + nombrePozo + \"';\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 560,
        "wires": [
            [
                "d413566e176f1f69",
                "e980f8c61cc84dcf"
            ]
        ]
    },
    {
        "id": "d413566e176f1f69",
        "type": "MSSQL",
        "z": "fee27221764bde5a",
        "mssqlCN": "8c922d743060092b",
        "name": "",
        "query": "",
        "outField": "payload",
        "x": 1300,
        "y": 560,
        "wires": [
            [
                "4b62855046716e87",
                "3445969ab1a7b1df"
            ]
        ]
    },
    {
        "id": "4b62855046716e87",
        "type": "debug",
        "z": "fee27221764bde5a",
        "name": "debug 265",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 440,
        "wires": []
    },
    {
        "id": "3445969ab1a7b1df",
        "type": "function",
        "z": "fee27221764bde5a",
        "name": "SetDatosPozo",
        "func": "let data = msg.payload;\nlet exitePozoInDB = false;\nif(data.recordset.length > 0 && data.recordset[0].id){\n    exitePozoInDB = true;\n    let id = data.recordset[0].id;\n    let pozoFromDB = {\n        \"id\": id,    \n    };\n    flow.set(\"pozoDesdeDB\", pozoFromDB);\n}\nmsg.payload = exitePozoInDB;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 560,
        "wires": [
            [
                "9e92429cbfc3fba0"
            ]
        ]
    },
    {
        "id": "2f357694be59455c",
        "type": "switch",
        "z": "fee27221764bde5a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "4381352079108772"
            ],
            [
                "93924ea23b4f6025"
            ]
        ]
    },
    {
        "id": "4381352079108772",
        "type": "debug",
        "z": "fee27221764bde5a",
        "name": "debug 266",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 500,
        "wires": []
    },
    {
        "id": "e980f8c61cc84dcf",
        "type": "debug",
        "z": "fee27221764bde5a",
        "name": "debug 267",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 640,
        "wires": []
    },
    {
        "id": "ecf47be6524b63ef",
        "type": "debug",
        "z": "fee27221764bde5a",
        "name": "debug 268",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 480,
        "wires": []
    },
    {
        "id": "bbaefdbc31f004f5",
        "type": "debug",
        "z": "fee27221764bde5a",
        "name": "debug 269",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "8c922d743060092b",
        "type": "MSSQL-CN",
        "name": "LOCAL SGIPAPP",
        "server": "localhost",
        "encyption": false,
        "database": "perforador"
    }
]